<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/station/date</p>
    <p>URL example: http://127.0.0.1:5000/api/10/1988-10-25</p>
    <br>
    <p>URL format: http://127.0.0.1:5000/api/station</p>
    <p>URL example: http://127.0.0.1:5000/api/15</p>
    <br>
    <p>URL format: http://127.0.0.1:5000/api/year/station/year</p>
    <p>URL example: http://127.0.0.1:5000/api/year/26/1890</p>
    <p>{{data|safe}}</p>
</body>
</html>